@model Dictionary<string, object>
@{
    ViewBag.Title = "Информация о пользователе";
}

<h2>@ViewBag.Title</h2>

<table>
    <tr>
        <th>
            Группа
        </th>
        <th>
            Студенты
        </th>
        <th>
            Интервью
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Key)
        </td>
        <td>
            @item.Value.ToString();
        </td>
 </tr>
}

</table>
